In [2]:
import pandas as pd
import numpy as np
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt

### Uploading & Cleaning Tweets

In [5]:
tweets = pd.read_csv('tweets.csv', usecols = ['timestamp', 'text'],encoding='latin1')  #nrows 'in_reply_to_status_id'

In [6]:
#Add cols for month and year

index = 0;

tweets['month'] = 0
tweets['year'] = 0

for i in tweets['timestamp']:
    tweets['year'][index]=tweets['timestamp'][index][0:4]
    tweets['month'][index]=tweets['timestamp'][index][5:7]
    index+=1

#Delete timestamp column
del tweets['timestamp']

C:\Users\aliae\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\aliae\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [7]:
#Convert to lowercase
tweets['text'] = tweets['text'].str.lower()

In [8]:
#Clean up - remove replies, retweets

tweets = tweets[~tweets.text.str.contains("@")]
tweets = tweets[~tweets.text.str.contains("rt")]
#tweets = tweets[~tweets.text.str.contains("plx11zpn21")]

#Remove all non-letter or number chars
tweets['text'] = tweets['text'].replace('[^a-zA-Z0-9]',' ', regex = True) #replace non letters or numbers

#Split data by year (2011 - 2014) & sort months in descending order
def tweets_by_year(year):
    is_year = tweets['year'] == year
    return tweets[is_year].sort_values(by=['month'])

tweets_2011 = tweets_by_year(2011)
tweets_2012 = tweets_by_year(2012)
tweets_2013 = tweets_by_year(2013)
tweets_2014 = tweets_by_year(2014)

In [11]:
'''wordcloud = WordCloud(
    width = 3000,
    height = 2000,
    background_color = 'white',
    stopwords = STOPWORDS
).generate(str(tweets_x)
)
fig = plt.figure(
    figsize = (40, 30),
    facecolor = 'k',
    edgecolor = 'k')
plt.imshow(wordcloud, interpolation = 'bilinear')
plt.axis('off')
plt.tight_layout(pad=0)
plt.show()'''

In [9]:
#Combine sorted 4 years into 1 dataset

tweets_4yrs = pd.concat([tweets_2011, tweets_2012, tweets_2013, tweets_2014])
print(tweets_4yrs)

                                                   text  month  year
9576                                         masr  lt 3      2  2011
9569                             school spirit     lt 3      3  2011
9565                      grade seven  school spirit         3  2011
9559          walk for nile was such a succesful event       5  2011
9556                                                ...      5  2011
...                                                 ...    ...   ...
2725                last minute goal by  sanchez   coyg     12  2014
2729           lowkey   special  http   t co avzagjkg6p     12  2014
2732  how can people be pro  sisi  but against  muba...     12  2014
2716                                                ...     12  2014
2698  confessions of an economic hitman   a book tha...     12  2014

[1800 rows x 3 columns]

In [ ]:
#print(tweets_2013_s)

def df_to_text(tweets):
    return tweets.text.str.cat(sep=' ')

def tweets_by_month(year):
    is_year = tweets['year'] == year
    return tweets[is_year].sort_values(by=['month'])

#for i in tweets['text']:
#alltweets = alltweets + ' ' + tweets['text'][index]
 ## index+=1

#stop_words = frozenset(STOPWORDS)

from collections import Counter

split_it = tweets_2011_t.split() 
Counter = Counter(split_it) 
#print(Counter.most_common(100))


#tweets_4yrs.to_csv(r'tweets_4years.csv')

In [ ]:
tweets_2011 = tweets_2011.reset_index()
del tweets_2011['index']

tweets_2012 = tweets_2012.reset_index()
del tweets_2012['index']

tweets_2013 = tweets_2013.reset_index()
del tweets_2013['index']

tweets_2014 = tweets_2014.reset_index()
del tweets_2014['index']tweets

In [181]:
#by_month_2011 = pd.DataFrame(columns=['year', 'month', 'count','text' ]) #, 'common_words', 'themes'
from collections import Counter

def tweets_by_month(tweets_year):
    #tweets_year=tweets_year.reset_index()
    #del tweets_year['index']
    stop_words = STOPWORDS
    num_rows = len(tweets_year.index)
    by_month = pd.DataFrame(index=np.arange(12), columns=['year', 'month', 'count','text','common_words'])
    
    by_month['month'][0]=tweets_year['month'][0]
    by_month['year'][0] = tweets_year['year'][0] 
    by_month['text'][0] = tweets_year['text'][0]
    by_month['count'][0] = 1
    
    ind_m = 0 
    ind_y = 1
    #range(num_rows)
    for i in range(num_rows-1):
        if tweets_year['month'][ind_y] > by_month['month'][ind_m]: #initialize new month
            split_it = by_month['text'][ind_m].split() 
            count = Counter(split_it) 
            for i in split_it:
                words = [w for w in split_it if w not in STOPWORDS and len(w) > 3]
                count.update(words)
            by_month['common_words'][ind_m]=count
            
            ind_m+=1
            by_month['month'][ind_m] = tweets_year['month'][ind_y]
            by_month['year'][ind_m] = tweets_year['year'][ind_y] 
            by_month['text'][ind_m] = tweets_year['text'][ind_y]
            by_month['count'][ind_m]=1
        else:
            #print("FALSE")
            by_month['count'][ind_m]+=1
            by_month['text'][ind_m]= by_month['text'][ind_m] + '; ' + tweets_year['text'][ind_y]
        ind_y = ind_y +1
    
    return by_month
    
by_month_2011 = tweets_by_month(tweets_2011)
by_month_2012 = tweets_by_month(tweets_2012)
by_month_2013 = tweets_by_month(tweets_2013)
by_month_2014 = tweets_by_month(tweets_2014)

tweets_by_month = pd.concat([by_month_2011, by_month_2012, by_month_2013, by_month_2014])
print(tweets_by_month)

tweets_by_month.to_csv(r'tweets_by_month.csv')

#tweets_2011 = tweets_2011.reset_index()

#print(tweets_2011['month'][24])

    year month count                                               text  \
0   2011     2     1                                         masr  lt 3
1   2011     3     2  school spirit     lt 3; grade seven  school sp...
2   2011     5     8  walk for nile was such a succesful event ;    ...
3   2011     6    53  ahly fo2 el gamee3   ;  ineedtostop delaying t...
4   2011     7    50  hamza namira   lt 3;  nowplaying   ew3edoony  ...
5   2011     8    48   protectgaza  protectgaza  protectgaza  protec...
6   2011     9    50  leih law 2olt ra2yak teb2a 5alas erhaaby   zap...
7   2011    10    13  r i p steve jobs  great succesful person ; tab...
8   2011    11    21   tomorrowisdecember trending    oh really  i d...
9   2011    12    49  talent show   d; bored  ; so i open a webpage ...
10   NaN   NaN   NaN                                                NaN
11   NaN   NaN   NaN                                                NaN
0   2012     1    22  i ll spend the first three months writing  201...
1   2012     2    20  my hannnddd    ; ya el midan ; matloob za3eeem...
2   2012     3    67  you ll be asked   what did you do for your bro...
3   2012     4    33  what s happening with barcelona ; esm el ahly ...
4   2012     5    80  nemt 4 sa3at w daya3t 3alaya el yom   ;       ...
5   2012     6   106   turkishdirectionersareproudofzaynsreligion is...
6   2012     7    44  http   t co avpdpcxe; mostafa bakry etbaaaaahh...
7   2012     8    87   never give up  i will never just quit  i will...
8   2012     9    31  http   t co 2wophg2s must respect  avaaz; http...
9   2012    10    88  every time i see  district 3  trending i remem...
10  2012    11   144  https   t co pjkpu4in                         ...
11  2012    12    56                                          ;     ...
0   2013     1    67  don t ever say you re on your way down    when...
1   2013     2    43  happy valentine s day  ento nas cute 5alis ; m...
2   2013     3    50  last year hayah was 12th place   it ll be bett...
3   2013     4    23  http   t co fdeml4natm vote for  e zee ramp ; ...
4   2013     5    22  women s champions league final   ta32eed  lyon...
5   2013     6    24  during a time when lies spread  and people cla...
6   2013     7    69  badei isn t in jail  he s talking on jazira fr...
7   2013     8    35                                                ...
8   2013     9    23                                                ...
9   2013    10    68  bbm pin   7c8b70de  bbm is now officially avai...
10  2013    11    57  it s the day of the doctor    savetheday; http...
11  2013    12    31   books  best weapons in the world    arm yours...
0   2014     1    60  abandoning timelines and newsfeed till i watch...
1   2014     2    36  hahaha  flappy bird deleted off app store  and...
2   2014     3     7  everything is awesome   thelegomovie; the rule...
3   2014     4    20  won again   75 point difference   hiabotball20...
4   2014     5     9  leave a light  a light on   midnight; brillian...
5   2014     6    11  massive respect to the algerians for such a pe...
6   2014     7    11   this is not a war  it is systematic genocide ...
7   2014     8     5  what i want to be doing for the rest of my lif...
8   2014    10     7  i m actually pretty excited about windows 10  ...
9   2014    11    27  rise and fall; was 2 mins away from where i li...
10  2014    12    21  4 1 what a penalty hahaha  cazorla  coyg; matt...
11   NaN   NaN   NaN                                                NaN

                                         common_words
0                        {'masr': 4, 'lt': 1, '3': 1}
1   {'school': 18, 'spirit': 18, 'lt': 1, '3;': 1,...
2   {'walk': 49, 'for': 1, 'nile': 49, 'was': 2, '...
3   {'ahly': 3003, 'fo2': 1, 'el': 7, 'gamee3': 42...
4   {'hamza': 265, 'namira': 265, 'lt': 7, '3;': 6...
5   {'protectgaza': 3200, ';': 36, 'erfa3': 320, '...
6   {'leih': 432, 'law': 1, '2olt': 432, 'ra2yak':...
7   {'r': 1, 'i': 2, 'p': 1, 'steve': 210, 'jobs':...
8   {'tomorrowisdecember': 165, 'trending': 330, '...
9                                                 NaN
10                                                NaN
11                                                NaN
0   {'i': 2, 'll': 1, 'spend': 192, 'the': 3, 'fir...
1   {'my': 1, 'hannnddd': 144, ';': 13, 'ya': 4, '...
2   {'you': 9, 'll': 2, 'be': 8, 'asked': 608, 'wh...
3   {'what': 1, 's': 1, 'happening': 279, 'with': ...
4   {'nemt': 751, '4': 2, 'sa3at': 751, 'w': 7, 'd...
5   {'turkishdirectionersareproudofzaynsreligion':...
6   {'http': 2, 't': 6, 'co': 2, 'avpdpcxe;': 337,...
7   {'never': 3592, 'give': 1796, 'up': 3, 'i': 15...
8   {'http': 8, 't': 13, 'co': 8, '2wophg2s': 351,...
9   {'every': 1734, 'time': 1734, 'i': 16, 'see': ...
10  {'https': 1250, 't': 28, 'co': 15, 'pjkpu4in':...
11                                                NaN
0   {'don': 4, 't': 15, 'ever': 1, 'say': 2, 'you'...
1   {'happy': 358, 'valentine': 358, 's': 7, 'day'...
2   {'last': 2208, 'year': 1656, 'hayah': 552, 'wa...
3   {'http': 4, 't': 9, 'co': 4, 'fdeml4natm': 299...
4   {'women': 278, 's': 5, 'champions': 278, 'leag...
5   {'during': 1, 'a': 3, 'time': 604, 'when': 1, ...
6   {'badei': 597, 'isn': 2, 't': 23, 'in': 4, 'ja...
7   {';': 15, 'aqua': 351, 'park;': 351, 'can': 6,...
8   {';': 11, 'honestly': 294, 'ios': 1, '7': 1, '...
9   {'bbm': 2, 'pin': 1, '7c8b70de': 711, 'is': 9,...
10  {'it': 2, 's': 7, 'the': 20, 'day': 1, 'of': 8...
11                                                NaN
0   {'abandoning': 749, 'timelines': 749, 'and': 1...
1   {'hahaha': 472, 'flappy': 472, 'bird': 472, 'd...
2   {'everything': 64, 'is': 1, 'awesome': 64, 'th...
3   {'won': 4, 'again': 1, '75': 1, 'point': 296, ...
4   {'leave': 88, 'a': 3, 'light': 176, 'on': 1, '...
5   {'massive': 109, 'respect': 109, 'to': 2, 'the...
6   {'this': 1, 'is': 2, 'not': 1, 'a': 6, 'war': ...
7   {'what': 1, 'i': 4, 'want': 66, 'to': 2, 'be':...
8   {'i': 4, 'm': 2, 'actually': 83, 'pretty': 83,...
9   {'rise': 371, 'and': 4, 'fall;': 371, 'was': 2...
10                                                NaN
11                                                NaN

In [96]:
print(tweets_2011)

                                                   text  month  year
9576                                         masr  lt 3      2  2011
9569                             school spirit     lt 3      3  2011
9565                      grade seven  school spirit         3  2011
9559          walk for nile was such a succesful event       5  2011
9556                                                ...      5  2011
...                                                 ...    ...   ...
8641        heal the world  make it a better place   mj     12  2011
8640            shewayet baltageya afalo el midan tany      12  2011
8638                                                        12  2011
8659                           mohamed beltagy  y   fjp     12  2011
8515              why isn t egypt a  trendlocation          12  2011

[295 rows x 3 columns]

In [79]:
stop_words = STOPWORDS
split_2011 = tweets_2011_t.split()
split_2012 = tweets_2012_t.split()
split_2013= tweets_2013_t.split()
split_2014= tweets_2014_t.split()

from collections import Counter

def mostCommonWords(text):
    finalCount = Counter(text)
    for i in text:
        words = [w for w in text if w not in stop_words and len(w) > 3]
        finalCount.update(words)  # update final count using the words list
    return finalCount

#mostCommonWords(split_2011).most_common(20)
mostCommonWords(split_2012).most_common(20)
#mostCommonWords(split_2013).most_common(20)

[('syria', 381553),
 ('lowkey', 206944),
 ('tahrir', 200477),
 ('world', 174609),
 ('will', 155208),
 ('people', 135807),
 ('palestine', 129340),
 ('trending', 129340),
 ('never', 116406),
 ('mesh', 97005),
 ('3ashan', 97005),
 ('maherzain', 90538),
 ('ahly', 84071),
 ('free', 77604),
 ('ba2a', 77604),
 ('lehhayah', 71137),
 ('know', 71137),
 ('change', 71137),
 ('terrorist', 71137),
 ('shafik', 71137)]

In [19]:
print(tweets_4yrs)

                                                   text  month  year
9576                                         masr  lt 3      2  2011
9569                             school spirit     lt 3      3  2011
9565                      grade seven  school spirit         3  2011
9559          walk for nile was such a succesful event       5  2011
9556                                                ...      5  2011
...                                                 ...    ...   ...
2725                last minute goal by  sanchez   coyg     12  2014
2729           lowkey   special  http   t co avzagjkg6p     12  2014
2732  how can people be pro  sisi  but against  muba...     12  2014
2716                                                ...     12  2014
2698  confessions of an economic hitman   a book tha...     12  2014

[1799 rows x 3 columns]

In [169]:
volume = pd.read_csv('tweets_by_volume.csv', encoding='latin1')  #nrows 'in_reply_to_status_id'

In [168]:
index = 0

volume2 = pd.DataFrame(index=np.arange(1799), columns=['index', 'pitch', 'channels'])

In [170]:
print(volume)

    year  month  count  volume  pitch
0   2011      2      1       1      6
1   2011      3      2       1      5
2   2011      4      0       0      0
3   2011      5      8       1      5
4   2011      6     53       3      6
5   2011      7     50       2      5
6   2011      8     48       2      7
7   2011      9     50       2      8
8   2011     10     13       1      1
9   2011     11     21       1      2
10  2011     12     49       2      4
11  2012      1     22       1      6
12  2012      2     20       1      2
13  2012      3     67       3      2
14  2012      4     33       2      3
15  2012      5     80       4      5
16  2012      6    106       4      6
17  2012      7     44       2      4
18  2012      8     87       4      6
19  2012      9     31       2      5
20  2012     10     88       4      4
21  2012     11    144       4      3
22  2012     12     56       3      5
23  2013      1     67       3      6
24  2013      2     43       2      6
25  2013      3     50       2      5
26  2013      4     23       1      6
27  2013      5     22       1      6
28  2013      6     24       1      3
29  2013      7     69       3      2
30  2013      8     35       2      1
31  2013      9     23       1      1
32  2013     10     68       3      1
33  2013     11     57       2      4
34  2013     12     31       2      5
35  2014      1     60       3      3
36  2014      2     36       2      4
37  2014      3      7       1      5
38  2014      4     20       1      6
39  2014      5      9       1      3
40  2014      6     11       1      2
41  2014      7     11       1      1
42  2014      8      5       1      4
43  2014      9      0       0      0
44  2014     10      7       1      5
45  2014     11     27       2      3
46  2014     12     21       1      2

In [25]:
volume2.to_csv(r'tweets_max.csv')

223

In [147]:

def csv_to_text(volume3,label): 
    pitches = '1,'
    
    ind = 0
    
    for i in volume3[label]:
        pitches = str(pitches) + str(' ') + str(volume3[label][ind])
        ind+=1
    pitches = pitches + ';'
    return pitches
    
pitch_max = open("pitch_max.txt", "w")
n = pitch_max.write(csv_to_text(volume3,'pitch'))
pitch_max.close()

In [ ]:
print(pitch_max)

In [81]:

channels_max = open("channels_max.txt", "w")
n = channels_max.write(csv_to_text('channels'))
channels_max.close()

In [82]:

index_max = open("index_max.txt", "w")
n = index_max.write(csv_to_text('index'))
index_max.close()

In [176]:
index = 0

volume3 = pd.DataFrame(index=np.arange(370), columns=['index', 'pitch', 'channels'])


vol1_index = 0
vol3_index = 0

'''
for i in volume['count']:
    for i in range(volume['volume'][vol1_index]):
        volume3['index'][vol3_index] = vol1_index+1
        volume3['pitch'][vol3_index] = volume['pitch'][vol1_index]
        volume3['channels'][vol3_index] = volume['volume'][vol1_index]
        vol3_index+=1
    vol1_index+=1
'''

ch1 = [30,35]
ch2 = [37,40]
ch3 = [42,45]
ch4 = [47,48,50]
ch5 = [52,57,59]
ch6 = [60,62,69]
ch7 = [69,70,72]
ch8 = [75,78]

months = ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december']

choices = [ch1,ch2,ch3,ch4,ch5,ch6,ch7,ch8]


newdata = pd.DataFrame(index=np.arange(236), columns=['index', 'pitch', 'channels', 'year', 'month', 'months_text'])

import random
vol_index = 0
index = 0

for i in volume['count']:
    for i in range(5):
        newdata['index'][index] = vol_index+1
        newdata['pitch'][index] = random.choice(choices[(volume['pitch'][vol_index])-1])
        newdata['channels'][index] = volume['volume'][vol_index]
        newdata['year'][index] = volume['year'][vol_index]
        newdata['month'][index] = volume['month'][vol_index]
        newdata['months_text'][index] = months[(newdata['month'][index])-1]
        index+=1
    vol_index+=1

    
    
newdata.head(40)

   index pitch channels  year month months_text
0      1    60        1  2011     2    february
1      1    60        1  2011     2    february
2      1    62        1  2011     2    february
3      1    69        1  2011     2    february
4      1    60        1  2011     2    february
5      2    52        1  2011     3       march
6      2    59        1  2011     3       march
7      2    52        1  2011     3       march
8      2    52        1  2011     3       march
9      2    57        1  2011     3       march
10     3    78        0  2011     4       april
11     3    75        0  2011     4       april
12     3    78        0  2011     4       april
13     3    78        0  2011     4       april
14     3    75        0  2011     4       april
15     4    57        1  2011     5         may
16     4    52        1  2011     5         may
17     4    57        1  2011     5         may
18     4    57        1  2011     5         may
19     4    52        1  2011     5         may
20     5    60        3  2011     6        june
21     5    60        3  2011     6        june
22     5    62        3  2011     6        june
23     5    69        3  2011     6        june
24     5    69        3  2011     6        june
25     6    52        2  2011     7        july
26     6    57        2  2011     7        july
27     6    59        2  2011     7        july
28     6    57        2  2011     7        july
29     6    59        2  2011     7        july
30     7    72        2  2011     8      august
31     7    69        2  2011     8      august
32     7    72        2  2011     8      august
33     7    69        2  2011     8      august
34     7    69        2  2011     8      august
35     8    78        2  2011     9   september
36     8    75        2  2011     9   september
37     8    78        2  2011     9   september
38     8    75        2  2011     9   september
39     8    75        2  2011     9   september

In [149]:
new_pitches = open("new_pitches.txt", "w")
n = new_pitches.write(csv_to_text(newdata,'pitch'))
new_pitches.close()

In [179]:
new_year = open("new_year.txt", "w")
n = new_year.write(csv_to_text(newdata,'year'))
new_year.close()

new_month = open("new_month.txt", "w")
n = new_month.write(csv_to_text(newdata,'month'))
new_month.close()

new_month_text = open("new_month_text.txt", "w")
n = new_month_text.write(csv_to_text(newdata,'months_text'))
new_month_text.close()

new_channels = open("new_channels.txt", "w")
n = new_channels.write(csv_to_text(newdata,'channels'))
new_channels.close()

In [174]:
print(csv_to_text(newdata,'month'))

1, 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5 6 6 6 6 6 7 7 7 7 7 8 8 8 8 8 9 9 9 9 9 10 10 10 10 10 11 11 11 11 11 12 12 12 12 12 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5 6 6 6 6 6 7 7 7 7 7 8 8 8 8 8 9 9 9 9 9 10 10 10 10 10 11 11 11 11 11 12 12 12 12 12 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5 6 6 6 6 6 7 7 7 7 7 8 8 8 8 8 9 9 9 9 9 10 10 10 10 10 11 11 11 11 11 12 12 12 12 12 1 1 1 1 1 2 2 2 2 2 3 3 3 3 3 4 4 4 4 4 5 5 5 5 5 6 6 6 6 6 7 7 7 7 7 8 8 8 8 8 9 9 9 9 9 10 10 10 10 10 11 11 11 11 11 12 12 12 12 12 nan;

In [146]:
print(newdata)

    index pitch channels
0       1    60        4
1       1    60        4
2       1    69        4
3       1    60        4
4       1    69        4
..    ...   ...      ...
231    47    37        4
232    47    37        4
233    47    37        4
234    47    37        4
235   NaN   NaN      NaN

[236 rows x 3 columns]

In [151]:
ls

 Volume in drive C is OS
 Volume Serial Number is 42FC-EFAD

 Directory of C:\Users\aliae\Documents

12/12/2019  01:07 PM    <DIR>          .
12/12/2019  01:07 PM    <DIR>          ..
12/12/2019  03:26 AM    <DIR>          .ipynb_checkpoints
05/12/2019  10:26 PM             6,497 .RData
12/06/2019  09:11 PM             4,414 .Rhistory
09/22/2019  08:47 PM    <DIR>          1 NYUAD
10/02/2019  07:01 PM    <DIR>          1InteractiveComputing
06/19/2016  05:24 PM            97,424 2017 IAS JUNE 19 2016.docx
11/21/2017  06:35 PM           199,964 activism poster 2.jpg
11/27/2016  07:25 PM    <DIR>          Add-in Express
01/31/2017  01:46 PM            65,599 Admission Ambassador - Timesheet (Alia).xlsx
09/25/2016  05:43 PM    <DIR>          Adobe
12/18/2017  02:23 AM            59,782 ahmad project cigarettes.wlmp
12/18/2017  05:16 PM           214,381 Alia ElKattan - 4 year plan (2).pdf
12/18/2017  05:14 PM            27,468 Alia ElKattan - 4 year plan.docx
04/30/2017  03:17 PM            18,588 Alia ElKattan EfSI Reflections Jordan.docx
04/08/2019  12:42 PM           409,702 AliaElKattan2018.pdf
09/30/2016  05:10 PM           194,190 Alia's Meningitis Vaccination.jpeg
09/30/2016  05:13 PM           307,936 Alia's MMR & Meningitis.jpeg
09/30/2016  05:07 PM           216,437 Alia's MMR Vaccination.jpeg
01/25/2018  09:57 AM                20 aliatweets.rds
10/02/2019  08:26 PM    <DIR>          Alternate Realities
12/12/2019  01:07 PM         1,187,560 amp_data.ipynb
04/05/2019  11:13 PM            37,722 answers.txt
12/10/2019  11:26 PM    <DIR>          Audacity
04/26/2018  11:26 AM    <DIR>          Botball UAE
12/10/2019  02:08 PM    <DIR>          capstone
12/12/2019  01:54 AM             3,601 channels_max.txt
06/23/2016  01:36 AM           172,544 CLASS OF 2017 IA CALENDAR.doc
11/17/2019  12:09 PM           677,420 classaudio.wav
09/30/2019  10:08 PM    <DIR>          College
09/14/2017  02:56 PM    <DIR>          Computer Programming for Engineers
12/16/2016  01:23 AM    <DIR>          Creativity & Innovation
10/06/2018  11:20 PM    <DIR>          CSO
11/14/2017  12:14 AM    <DIR>          Custom Office Templates
12/14/2017  11:19 PM                 0 dark energy.enl
06/22/2017  09:16 AM           132,701 data analysis.jpg
11/04/2019  03:20 PM    <DIR>          Downloads
08/06/2016  02:22 PM    <DIR>          DPC
12/06/2019  06:48 PM    <DIR>          EKC
08/06/2016  02:31 PM    <DIR>          Family
06/06/2016  02:40 PM    <DIR>          Fax
04/24/2017  01:10 AM            39,993 FEEDBACK DOC - Alia.docx
08/16/2017  03:14 AM    <DIR>          FeedbackHub
01/23/2018  03:29 PM    <DIR>          Formtec
08/26/2016  04:07 AM    <DIR>          HIAMUN '16
08/06/2016  02:33 PM    <DIR>          IB LIFE
04/05/2019  11:04 PM             4,937 identify-language.py
12/12/2019  01:54 AM             5,175 index_max.txt
11/06/2019  11:18 AM    <DIR>          lab3_Alia_Chunxiao_Iva'n
09/14/2019  02:10 PM         4,962,853 Lean Product Playbook.pdf
11/09/2019  10:04 PM               410 luisa_pitches2.txt
01/19/2018  06:21 PM           595,231 maloneytweets.Rda
01/19/2018  06:21 PM                20 maloneytweets.rds
07/17/2017  08:10 PM    <DIR>          MAVERICK YOUTH
09/17/2019  03:51 PM    <DIR>          Max 8
07/05/2017  02:49 PM    <DIR>          maya
04/09/2018  01:31 AM            16,696 McKinsey_Cover_Letter.docx
04/09/2018  01:31 AM           104,368 McKinsey_Cover_Letter.pdf
11/18/2019  11:33 AM             2,766 MIR_Trial.ipynb
01/27/2017  04:35 PM    <DIR>          My EndNote Library.Data
01/27/2017  04:35 PM                 0 My EndNote Library.enl
09/23/2019  06:59 PM    <DIR>          My Kindle Content
12/12/2019  01:07 PM               712 new_pitches.txt
12/08/2019  11:14 AM           129,955 newteets.csv
01/19/2018  01:34 AM            28,142 oauth_token.Rdata
06/24/2017  09:35 PM    <DIR>          O-MUN
11/12/2016  01:04 PM           243,853 O-MUN on QLC.docx
02/12/2017  04:57 PM    <DIR>          OneNote Notebooks
05/13/2019  01:40 PM    <DIR>          Painter Essentials 6 Recovered Files
12/12/2019  01:07 PM             1,483 pitch_max.txt
12/12/2019  01:07 PM                 0 pitch_max_2.txt
09/30/2019  10:01 PM    <DIR>          Politics of Code
12/09/2019  10:28 PM    <DIR>          politics-bias-model
11/15/2019  05:47 PM    <DIR>          project4-master
12/11/2019  10:15 PM                 0 pymel.log
02/13/2017  11:10 AM    <DIR>          Python Scripts
09/30/2016  01:10 AM    <DIR>          QLC 16
03/17/2019  03:34 PM    <DIR>          R
12/11/2019  07:52 PM           178,834 sa_tweets.csv
12/12/2019  03:32 AM             1,598 sa_users.csv
12/12/2019  10:24 AM         1,001,428 saudi-bots.ipynb
12/16/2016  01:08 AM            15,945 SAVEALEPPO.docx
10/21/2017  09:38 PM           232,897 Scan0001.pdf
10/21/2017  09:39 PM           228,172 Scan0002.pdf
06/25/2017  11:16 PM    <DIR>          Scanned Documents
12/28/2015  01:13 AM            11,674 serial number.docx
09/07/2017  03:19 PM                26 server.js
11/12/2018  10:44 PM    <DIR>          Sound recordings
10/22/2017  12:01 AM            17,035 Spermatogenesis vs oogenesis.docx
04/05/2019  06:01 PM               171 test.pred
11/14/2016  10:31 PM               420 This PC - Shortcut.lnk
12/09/2018  04:20 AM         2,607,247 tweets.csv
12/08/2019  11:15 AM           129,955 tweets_3years.csv
12/08/2019  07:09 PM           150,674 tweets_4years.csv
12/10/2019  02:49 AM           259,507 tweets_by_month.csv
12/12/2019  01:22 AM               392 tweets_by_volume.csv
12/12/2019  01:34 AM            22,075 tweets_max.csv
12/08/2019  12:28 AM    <DIR>          tweets2
12/08/2019  12:28 AM       271,879,137 tweets2.zip
12/10/2019  03:23 AM    <DIR>          twitter_sonification
06/20/2017  01:31 AM    <DIR>          Unreal Projects
02/16/2017  03:31 PM             1,790 Untitled.ipynb
02/16/2017  03:31 PM                72 Untitled1.ipynb
02/16/2017  05:12 PM            42,675 Untitled2.ipynb
02/20/2017  05:52 PM               581 Untitled3.ipynb
03/07/2017  05:16 PM             1,157 Untitled4.ipynb
09/24/2019  12:26 AM             2,037 Untitled5.ipynb
09/30/2019  12:28 AM             6,175 Untitled6.ipynb
11/17/2019  12:27 PM                72 Untitled7.ipynb
12/12/2019  03:24 AM            17,903 Untitled8.ipynb
11/21/2016  02:23 PM            12,386 Usability Test, Japan (by Alia).xlsx
02/26/2018  03:51 PM    <DIR>          USB
09/13/2017  05:00 PM            36,601 VirtualDental.cpp
09/13/2017  04:59 PM            36,601 VirtualDental.css
09/29/2018  07:22 AM    <DIR>          Visual Studio 2017
05/16/2019  03:33 PM    <DIR>          With & For Girls
05/16/2019  03:10 PM    <DIR>          writing
12/20/2016  01:23 PM            14,602 WSA Bio (Edited).docx
12/20/2016  01:40 AM            14,550 WSA Bio.docx
03/02/2016  09:57 PM            18,548 WSYA Application (Final Copy).docx
06/23/2017  05:35 PM    <DIR>          xgen
03/09/2017  04:42 PM             2,708 YoussefAzzamErrorPython.ipynb
09/26/2019  08:22 PM    <DIR>          Zoom
              73 File(s)    287,116,189 bytes
              51 Dir(s)   2,001,747,968 bytes free

In [182]:
newdata.to_csv(r'newdata.csv')

PermissionError: [Errno 13] Permission denied: 'newdata.csv'

In [189]:
newdata2 = pd.read_csv('newdata2.csv', encoding='latin1')  #nrows 'in_reply_to_status_id'
print(newdata2)

     Unnamed: 0  index  pitch  channels  year  month months_text  track
0             0      1     60         1  2011      2    february      1
1             1      1     60         1  2011      2    february      0
2             2      1     62         1  2011      2    february      0
3             3      1     69         1  2011      2    february      0
4             4      1     60         1  2011      2    february      0
..          ...    ...    ...       ...   ...    ...         ...    ...
230         230     47     37         1  2014     12    december      0
231         231     47     40         1  2014     12    december      0
232         232     47     40         1  2014     12    december      0
233         233     47     40         1  2014     12    december      0
234         234     47     40         1  2014     12    december      0

[235 rows x 8 columns]

In [192]:
tracks = open("new_tracks.txt", "w")
n = tracks.write(csv_to_text(newdata2,'track'))
tracks.close()